.footer-wrapper {
  position: relative;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
  box-shadow: 5px 0px 62px -10px rgba(35, 35, 35, 1);
  -webkit-box-shadow: 5px 0px 62px -10px rgba(35, 35, 35, 1);
  -moz-box-shadow: 5px 0px 62px -10px rgba(35, 35, 35, 1);
}

.footer {
  position: relative;
}

.newsletter-wrapper {
  position: relative;
  z-index: 999;
}

.floating-card {
  position: absolute;
  top: 20px; /* Adjust to control floating height */
  left: 50%;
  transform: translateX(-50%);
  /* max-width: 800px; */
  background-color: white;
  padding: 50px 30px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #333;
  z-index: 999;
  box-shadow: 1px -4px 43px -9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px -4px 43px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px -4px 43px -9px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .floating-card {
    top: -50px;
  }
  .footer-wrapper {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  }
}
