// Variables (optional but useful for easier customization)
$overlay-color: rgba(21, 11, 11, 0.6);
$glow-color: rgba(225, 75, 49, 0.6);
$border-color: #d2122e;

// Title Wrapper
.title-wrapper {
  width: 100%;
  min-height: 30vh;
  position: relative;
  background-image: url("../../images/ministry.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .title-section {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(236, 72, 153, 0.8), /* Pink with 80% opacity */
        rgba(139, 92, 246, 0.8), /* Purple with 80% opacity */
        rgba(59, 130, 246, 0.8)  /* Blue with 80% opacity */
      );
      z-index: 1;
    }
  }
}



// Title Glow Effect
.title-glow {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8),
    0 0 30px $glow-color; // Using the variable
}

// Custom Underline
.custom-underline {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -20px;
    border-top: solid 3px; // Using the variable for border color
    width: 100%;
    border-radius: 50%;
    height: 15px;
  }
}

// VM Section Styling
.vm-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


// Board Member Card
.card-section{
  border-radius: 10px;
  width: 320px;
  height: 220px;
  padding-top: 120px;
  padding-bottom: 30px;
  z-index: 1;
  .card-image{
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #9e1b32;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    .card-image img{
      border-radius: 50%;
    }
  }
}

// Board Member Layout
.boardmember-wrapper{
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  @media screen and (max-width: 768px) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); /* Example: Change to full rectangle */
  }
}

// Ministry
.ministry-card-wrapper img {
  transition: transform 5.0s ease;
}

.ministry-card-wrapper:hover img {
  transform: scale(1.2); 
}

.ministry-card-wrapper{
  transition: transform 0.4s ease;

}
.ministry-card-wrapper:hover
{
  transform: translateY(-10px);
}

// Contact Us
.contactus-content form label,
.contactus-content form button,
.contactus-content form input{
  font-size: 14px;
}