.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #333;
  transition: 0.6s;
}

.navbar {
  max-width: 1080px; /* Limit the width */
  margin: 0 auto; /* Center the navbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #fff;
}

.navbar-wrapper.sticky {
  width: 100%;
  background-color: #9e1b32;
  box-shadow: 1px -1px 83px -29px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 83px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 83px -29px rgba(0, 0, 0, 0.75);
  z-index: 1000;
}
.navbar-links {
  display: flex;
  list-style-type: none;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo img {
  height: 80px;
}

.navbar-logo-txt {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.navbar-logo-txt :nth-child(1) {
  font-size: 21px;
  font-weight: 600;
}

.navbar-logo-txt :nth-child(2) {
  font-size: 14px;
}

.navbar-links li {
  margin-left: 1.5rem;
  transition: 0.6s;
  position: relative;
}

.navbar-links li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}

.navbar-links li:hover::after,
.navbar-links li.active::after {
  width: 100%;
}

.navbar-links a:hover {
  color: #ddd;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 1rem 0;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    margin: 0.5rem 0;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
  }
  .navbar-logo-txt :nth-child(1) {
    font-size: 12px;
    font-weight: 600;
  }

  .navbar-logo-txt :nth-child(2) {
    font-size: 9px;
  }
  .navbar-logo img {
    height: 50px;
  }
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  padding: 4px;
  transform: rotate(0deg);
}

.dropdown:hover .arrow {
  transform: rotate(-180deg);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 150%; /* Positions the menu directly below the toggle */
  left: 0; /* Aligns the menu with the left edge of the dropdown */
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  border-radius: 4px;
  text-align: left; /* Ensures text aligns to the left */
  z-index: 1000; /* Ensures the menu is above other elements */
  /* min-width: 150px; */
  width: 100%;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.dropdown-menu li {
  padding: 5px 0px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
}

.dropdown-menu li a:hover {
  color: #007bff;
}
